<launch>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_ouster_imu" output="log"
        args="-1 0 0 0 0 0 /os_sensor /imu 20" />

    <include file="$(find xsens_driver)/launch/xsens_driver.launch"/>

    <arg name="rviz" default="true"/>
    <include file="$(find ouster_ros)/ouster.launch">
        <arg name="sensor_hostname" default="os-992106000191.local"/>
        <arg name="timestamp_mode" default="TIME_FROM_PTP_1588"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="metadata" default="metadata"/>
    </include>
</launch>